<div class="container">
  <%= simple_form_for(current_user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :street_address %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :about %>
    <%= f.button :submit, "Update your profile!", class: "btn-primary" %>
  <% end %>
</div>
