<div class="container">
  <!-- row #1 with photo and description -->
  <div class="row">
    <div class="col-sm-4 col-md-12 user-header" >
      <!-- user photo -->
      <div class="col-md-3">
        <% if @user.facebook_picture_url %>
          <%= image_tag @user.facebook_picture_url, class: "img-thumbnail" %>
        <% elsif @user.photo.present? %>
          <%= cl_image_tag @user.photo, class: "img-thumbnail" %>
        <% else %>
           <%= image_tag "https://testapp.letsmuuv.com/assets/img/img_placeholder_user.gif", style: "width: 200px; height: 200px;", class: "img-thumbnail" %>
        <% end %>
      </div>
      <!-- user info -->
      <div class="col-md-5">
        <h2>Hi, I'm <%= @user.first_name %>!</h2>
        <h4> I live in <%= @user.city %></h4>
        <p><%= @user.about %></p>
      </div>
    </div>
  </div>
  <!-- in case the user is a sitter -->
  <% if @user.sitter %>

  <!-- row #2 with map and sitter info -->
    <div class="row">
      <!-- map -->
      <div class="col-md-3">
        <div id="map" style="width: 200px; height: 200px;">
        </div>

          <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');

              handler.buildMap({ internal: { id: 'map' } }, function() {

                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
      <div class="col-md-5">
        <!-- sitter info -->
        <div class="pets-list">
          <h5>I sit the following pets:</h5>
          <% @user.sitter.pet_types.each do |pet_type| %>
            <%= pet_type.get_image %>
          <% end %>
        </div>
        <div class="fare">
          <h5>Daily fare:</h5>
          <p><%= @user.sitter.fare %> $ / day</p>
        </div>

        <%= button_to "Hire this petsitter", new_booking_path, method: :get, params: { id: @user.id }, class: "btn btn-primary" %>
      </div>
    </div>
    <!-- #3 row -->
    <div class="row">
      <div class="col-md-8">
        <div class="calendar">
          <%= month_calendar do |date| %>
              <strong><a><%= date.strftime("%d") %></a></strong>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

