

<br>
<br>

<% if current_user == @user %>
  <%= render "users/profile_logged_in" %>
<% else %>
  <%= render "users/profile_logged_out" %>
<% end %>

<% if @user.sitter.present? %>
  <div id="review">
    <% if @user.reviews.any? %>
      <% @user.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% else %>
      <%= @user.first_name %> sitted your pet? Be the first to leave a review!
    <% end %>
  </div>

  <%= render 'reviews/form', user: @user, review: @review %>
<% end %>


