<div class="container">
  <%= simple_form_for @sitter do |f| %>
    <%= f.input :pet_type %>
    <%= f.input :pet_size %>
    <%= f.input :fare %>
    <%= f.input :user_id, as: :hidden, value: current_user %>
    <%= f.button :submit, "Become a Petter!", class: "btn-primary" %>
    <%= link_to "Back", user_path(current_user), class: "btn btn-primary" %>
  <% end %>
</div>
