<%= form_tag sitters_path, :method => 'get' do %>
  <p>

    <%= text_field_tag :location, params[:location] %>

    <%= text_field_tag :start_date, params[:start_date] %>

    <%= text_field_tag :end_date, params[:end_date] %>

    <%= submit_tag "Search"%>
  </p>
<% end %>
