<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <% @users.each do |user| %>
        <div class="card col-sm-6 col-md-6">
          <div class="row">
            <div class="card-listing">
              <div class=" col-xs-12 col-md-6 col-sm-6">
                <div class="text-center">

                  <% if user.facebook_picture_url? %>
                    <%= image_tag user.facebook_picture_url, class: "listing-pic" %>
                  <% elsif user.photo.present? %>
                    <%= cl_image_tag user.photo, crop: "crop", class: "listing-pic"  %>
                  <% else %>
                    <%= image_tag "https://testapp.letsmuuv.com/assets/img/img_placeholder_user.gif", height: 200, width: 200, crop: :fill %>
                  <% end %>

                  <div class="panel-body">
                    <ul>
                      <li><%= image_tag "cat.png", title: "Cats", class: "animal-avatar" %></li>
                      <li><%= image_tag "dog.png", title: "Dogs", class: "animal-avatar grayscale" %></li>
                      <li><%= image_tag "bird.png", title: "Birds", class: "animal-avatar" %></li>
                      <li><%= image_tag "snake.png", title: "Reptiles", class: "animal-avatar grayscale" %></li>
                      <li><%= image_tag "horse.png", title: "Farm Animals", class: "animal-avatar grayscale" %></li>
                    </ul>
                  </div>
                </div>



              </div>
              <div class="card-description col-xs-12 col-md-6 col-sm-6">
                <%= link_to user_path(user) do %>
                  <h4><%= user.first_name %> <%= user.last_name %></h4>
                <% end %>


                  <p><%= user.city %></p>
                  <h6>Missions: <%= user.sitter.missions %></h6>
                  <br>
                  <h5>Fare: $<%= user.sitter.fare %></h5>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
