

<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-8">
  <% @sitters.each do |user| %>

        <div class="card col-sm-6 col-md-6">
          <div class=" col-xs-12 col-md-6 col-sm-6">
            <%= image_tag "http://fillmurray.com/200/200" %>
          </div>
          <div class="card-description col-xs-12 col-md-6 col-sm-6">
            <ul>
              <li><h4><%= link_to user.first_name, user_path(user) %></h4></li>
              <li><%= user.city %></li>
              <li>Missions: <%= user.sitter.missions %></li>
              <br><br><br>
              <li>Fare: $<%= user.sitter.fare %></li>
            </ul>
          </div>
        </div>


  <% end %>
  </div>
      <div class="col-md-4">
        <div id="map" style="width: 100%; height: 400px;"></div>
      </div>
      </div>

  <!-- <div class="map">
    <div class="row">

    </div>
  </div> -->

</div>

